* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a0a0a0;
    background-color: #222;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;

}

.piano{
  display: flex;
  gap: 2px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

  
  

}

.key {
  width: 90px;
  height: 200px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;
}
.key:active{
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);         
}

.key.white {
  background: #fff;
  color: #000;
}

.key.white:active {
  background: #ddd;
}

.key.black {
  background: #000;
  color: #fff;
  width: 30px;
  height: 120px;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 1;
  position: relative;
}
